@use './main' as *;

img {
    width: 5rem;
    height: 5rem;
}

.submission-container {
    padding: 2rem
}

.messages li {
    word-wrap: break-word;
    white-space: normal;   
}

.messages {
    min-height: 350px; 
    max-height: 350px; 
    overflow-y: auto;  
}

.prev {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 7.8rem;
    background-color: #e8eeea;
    margin-top: 2rem;
    max-height: 500px;
    border-radius: 5%;
    border: 0.3rem solid #d0ddd4;
}