@use './main' as *;

img {
    width: 5rem;
    height: 5rem;
}

.submission-container {
    padding: 2rem
}

.messages li {
    word-wrap: break-word; /* Ensures long words wrap */
    white-space: normal;   /* Prevents text from overflowing horizontally */
}

.messages {
    min-height: 350px; /* Adjust based on your desired layout */
    max-height: 350px; /* Optional, limits the height */
    overflow-y: auto;  /* Allows scrolling for longer content */
    // padding-bottom: 2rem;
}

.prev {
    padding-right: 2rem;
    padding-left: 2rem;
    // padding-top: 6rem;
    padding-bottom: 7.8rem;
    background-color: #D0DDD4;
    margin-top: 2rem;
    max-height: 500px;
}