@use './main' as *;

.quote-menu {
  padding-top: 2rem;
  justify-content: center;
}

/* Style the select box */
#view-quote-menu {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.375rem;
  background-color: white;
  cursor: pointer;
  width: 12.5rem;
}
  
  
  /* Style the dropdown options */
#view-quote-menu option {
  font-size: 1rem;
  background: white;
  color: black;
  padding: 0.625rem;
}
  
  /* Style when the dropdown is hovered */
#view-quote-menu:hover {
  border-color: #666;
}
  
  /* Style when the dropdown is focused */
#view-quote-menu:focus {
  outline: none;
  border-color: #d0ddd4;
  box-shadow: 0rem 0rem 0.3125rem #d0ddd4;
}
  