@use './main' as *;

.submit-quote {
    background-color: #e8eeea;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-top: 2rem;
    border-radius: 5%;
    
}

label {
    margin-right: 0.2rem;
}

.submit-button {
    background-color: #d0ddd4  !important;
    color: black !important;
    border-radius: 1% !important;
  }
  