
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
/* @theme {
	

}; */
/* .radix-themes {
	--color-background: #d7bfb1;
}

body {
	background-color: var(--color-background);
} */
/* probably change this.... like the font */
/* import tailwind here */