
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');





:root {
	font-family: "Lora", serif;
}
/* @theme {
	

}; */
/* .radix-themes {
	--color-background: #d7bfb1;
}

body {
	background-color: var(--color-background);
} */
/* probably change this.... like the font */
/* import tailwind here */


/* .lora-<uniquifier> {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
  } */